## Data Import

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [ ]:
imp = pd.read_csv("D:/ISDC Work/Content/R/Datasets/imp.csv")
print(imp)

    variable1  variable2  variable3
0        19.0      49.77        1.0
1        13.0      53.16        1.0
2         NaN      50.19        2.0
3        17.0      48.79        NaN
4         5.0        NaN        2.0
5        16.0      51.05        3.0
6         NaN      53.57        2.0
7        20.0      51.22        2.0
8        18.0      47.98        2.0
9        12.0        NaN        2.0
10       25.0      44.58        1.0
11       12.0      50.29        1.0
12       30.0      52.77        NaN
13       22.0        NaN        2.0

In [ ]:
imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   variable1  12 non-null     float64
 1   variable2  11 non-null     float64
 2   variable3  12 non-null     float64
dtypes: float64(3)
memory usage: 464.0 bytes

In [ ]:
imp.describe()

       variable1  variable2  variable3
count  12.000000  11.000000  12.000000
mean   17.416667  50.306364   1.750000
std     6.612087   2.589515   0.621582
min     5.000000  44.580000   1.000000
25%    12.750000  49.280000   1.000000
50%    17.500000  50.290000   2.000000
75%    20.500000  51.995000   2.000000
max    30.000000  53.570000   3.000000

## Imputation using Mean of the column

In [ ]:
imp_mean = imp.fillna(imp.mean())
print(imp_mean)

    variable1  variable2  variable3
0   19.000000  49.770000       1.00
1   13.000000  53.160000       1.00
2   17.416667  50.190000       2.00
3   17.000000  48.790000       1.75
4    5.000000  50.306364       2.00
5   16.000000  51.050000       3.00
6   17.416667  53.570000       2.00
7   20.000000  51.220000       2.00
8   18.000000  47.980000       2.00
9   12.000000  50.306364       2.00
10  25.000000  44.580000       1.00
11  12.000000  50.290000       1.00
12  30.000000  52.770000       1.75
13  22.000000  50.306364       2.00

## Imputation using Median of the column

In [ ]:
imp_median = imp.fillna(imp.median())
print(imp_median)

    variable1  variable2  variable3
0        19.0      49.77        1.0
1        13.0      53.16        1.0
2        17.5      50.19        2.0
3        17.0      48.79        2.0
4         5.0      50.29        2.0
5        16.0      51.05        3.0
6        17.5      53.57        2.0
7        20.0      51.22        2.0
8        18.0      47.98        2.0
9        12.0      50.29        2.0
10       25.0      44.58        1.0
11       12.0      50.29        1.0
12       30.0      52.77        2.0
13       22.0      50.29        2.0

## Imputation using a simple value

In [ ]:
imp_simple = imp.fillna(4)
print(imp_simple)

    variable1  variable2  variable3
0        19.0      49.77        1.0
1        13.0      53.16        1.0
2         4.0      50.19        2.0
3        17.0      48.79        4.0
4         5.0       4.00        2.0
5        16.0      51.05        3.0
6         4.0      53.57        2.0
7        20.0      51.22        2.0
8        18.0      47.98        2.0
9        12.0       4.00        2.0
10       25.0      44.58        1.0
11       12.0      50.29        1.0
12       30.0      52.77        4.0
13       22.0       4.00        2.0

## Imputation using mode of the column

In [ ]:
import numpy as np
imputing = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
imp_comp = imputing.fit_transform(imp)
imp_mode = pd.DataFrame(imp_comp, columns = ['Variable1', 'Variable2', 'Variable3'])
print(imp_mode)

    Variable1  Variable2  Variable3
0        19.0      49.77        1.0
1        13.0      53.16        1.0
2        12.0      50.19        2.0
3        17.0      48.79        2.0
4         5.0      44.58        2.0
5        16.0      51.05        3.0
6        12.0      53.57        2.0
7        20.0      51.22        2.0
8        18.0      47.98        2.0
9        12.0      44.58        2.0
10       25.0      44.58        1.0
11       12.0      50.29        1.0
12       30.0      52.77        2.0
13       22.0      44.58        2.0

## Imputation on specific columns
### variable 1 -> mean
### variable2 -> median
### variable3 -> mode

In [ ]:
import numpy as np
imp_new = imp
# variable1 -> mean
imp_new['variable1'] = imp_new['variable1'].fillna(imp_new['variable1'].mean())
# variable2 -> median
imp_new['variable2'] = imp_new['variable2'].fillna(imp_new['variable2'].median())
# variable3 -> mode
imputing = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
imp_var3 = imp['variable3']
imp_var3 = pd.DataFrame(imp_var3, columns = ['variable3'])
imp_comp = imputing.fit_transform(imp_var3)
imp_mode = pd.DataFrame(imp_comp, columns = ['Variable3'])
imp_new['variable3'] = imp_mode
print(imp_new)

    variable1  variable2  variable3
0   19.000000      49.77        1.0
1   13.000000      53.16        1.0
2   17.416667      50.19        2.0
3   17.000000      48.79        2.0
4    5.000000      50.29        2.0
5   16.000000      51.05        3.0
6   17.416667      53.57        2.0
7   20.000000      51.22        2.0
8   18.000000      47.98        2.0
9   12.000000      50.29        2.0
10  25.000000      44.58        1.0
11  12.000000      50.29        1.0
12  30.000000      52.77        2.0
13  22.000000      50.29        2.0

## Dropping the NaN's based on rows -> Complete Cases

In [ ]:
imp = pd.read_csv("D:/ISDC Work/Content/R/Datasets/imp.csv")
#print(imp)
imp_drop = imp.dropna(axis = 0, how = 'any')
print(imp_drop)

    variable1  variable2  variable3
0        19.0      49.77        1.0
1        13.0      53.16        1.0
2         NaN      50.19        2.0
3        17.0      48.79        NaN
4         5.0        NaN        2.0
5        16.0      51.05        3.0
6         NaN      53.57        2.0
7        20.0      51.22        2.0
8        18.0      47.98        2.0
9        12.0        NaN        2.0
10       25.0      44.58        1.0
11       12.0      50.29        1.0
12       30.0      52.77        NaN
13       22.0        NaN        2.0